.pytest_cache
.ruff_cache
.scannerwork
.venv
.vscode
build
docs
extras
mitglied.egg-info
htmlcov
log
site
src/mitglied/**/__pycache__
src/mitglied/config/resources/tls/key.pem
tests
.coverage
.editorconfig
.gitignore
.markdownlint.yml
dependency-check-report.html
Dockerfile
Dockerfile.alpine
mkdocs.yml
openapi.json
mitglieder-*.xlsx
report.html
sonar-*
